html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.burger-menu{
    z-index: 4;
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    justify-content: space-between;
    transition: 0.2s all;
    flex-direction: column;
    gap: 10px;
    background-color:#212806;
    font-size: 20px;
    color:white;
}

.username{
    display: none;
    font-size: 20px;
    margin: 0;
    margin-right: 20px;
}

#burgerlogout{
    color:white;
    justify-content: center;
    text-align: center;
    background-color: #AAB9CF;
    width: 90%;
    padding: 10px 0;
    display: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid  #AAB9CF;
    border-radius: 10px;
}

.logout{
    text-align: center;
}

.log{
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#burgerSign{
    color:white;
    display: block;
    text-align: center;
    background-color: #AAB9CF;
    width: 45%;
    padding: 10px 0;
    text-decoration: none;
    border: 1px solid  #AAB9CF;
    border-radius: 10px;
}

.theme{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
}