.container-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    margin-top: 64px;
}

.links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.logo-footer{
    content:url("../../images/logowhite.png");
}

.footer-nav-menu{
    margin-top: 45px;
    width: 96.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-menu  p{
    width: 97%;
    padding-bottom: 35px;
    font-size: 18px;
    color: #FCF8F3;
    border-bottom: 1px solid #F9E9E0;
}
.footer-nav-menu a{
    color: #F9E9E0;
    text-decoration: none;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 97%;
    margin-top: 100px;
    color:#FCF8F3;
    text-decoration: none;
}

.footer-links > div{
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links a{
    color:#FCF8F3;
    text-decoration: none;
    transition: all,0.3;
}

.footer-nav-menu > div{
    width: 23.5%;
    height: 249px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.links > div > div{
    display: flex;
    width: 55%;
    align-items:center;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    background-color:#212806;
    margin-top: 63px;
}
.links > div:last-child{
    display: flex;
    width:50%;
    align-items:center;
    justify-content: flex-end;
}

.links > div  a{
    font-size: 15px;
    color:#ffffff;
    text-decoration: none;
}

.links > div > div{
    display: flex;
    width: 55%;
    align-items:center;
    justify-content: space-around;
}

